@import 'tailwindcss' theme(static);
@source "../views/";
@source "../../app/";
@import './fonts.css';
@import './components/menu.css';
@import './components/footer.css';
@import './components/button.css';
@import './components/banner.css';
@import './components/container.css';
@import './components/ping-pong.css';
@import './utils/typography.css';
@import './utils/colors.css';
@import './utils/spacing.css';

@theme {
  --font-brand-primary: 'Gantari', sans-serif;
  --font-brand-secondary: 'Lato', sans-serif;
}

:root {
  --primary: #073a25;
  --secondary: #3a2f2b;
  --background: #f0e6d7;
  --black: #000;
  --white: #fff;
}
