@import './fonts.css';
body {
  color: black;
  font-family: 'Gantari';
  background-color: #f0e6d7;
}

.wp-core-ui .button,
.wp-core-ui .button-secondary {
  color: black;
}

.login h1 a {
  background-image: url("data:image/svg+xml,%3Csvg width='1672' height='747' viewBox='0 0 1672 747' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.639893 744.27V561.95H81.4299C94.8899 561.95 106.27 563.45 115.55 566.45C124.83 569.45 131.92 574.32 136.84 581.05C141.75 587.78 144.21 596.88 144.21 608.34C144.21 620.72 141.52 630.13 136.16 636.59C130.79 643.05 122.92 647.64 112.55 650.37C124.92 652.92 134.2 657.74 140.39 664.84C146.57 671.94 149.67 682.03 149.67 695.14C149.67 713.15 143.94 725.84 132.48 733.21C121.02 740.58 104 744.26 81.4399 744.26H0.639893V744.27ZM16.7399 643.56H78.4199C96.4299 643.56 109.12 641.15 116.49 636.33C123.86 631.51 127.54 622.73 127.54 609.99C127.54 597.43 123.86 588.66 116.49 583.65C109.12 578.65 96.4299 576.14 78.4199 576.14H16.7399V643.56ZM16.7399 730.08H78.4199C91.8799 730.08 102.62 728.85 110.63 726.4C118.63 723.94 124.37 720.03 127.82 714.66C131.27 709.3 133.01 702.34 133.01 693.78C133.01 685.05 131.28 678 127.82 672.63C124.36 667.27 118.63 663.35 110.63 660.89C102.62 658.43 91.8899 657.21 78.4199 657.21H16.7399V730.08Z' fill='black'/%3E%3Cpath d='M425.86 744.27H193.15V561.96H346.71L340.74 576.15H209.25V643.56H312.38L306.52 657.48H209.25V730.08H420.02L425.86 744.27Z' fill='black'/%3E%3Cpath d='M411.37 561.95H394.17L331.49 691.87H448.72L470.6 744.28H488.07L411.37 561.95ZM356.02 677.94L402.64 579.41L443.01 677.94H356.02Z' fill='black'/%3E%3Cpath d='M593.57 747C570.82 747 552.81 740.86 539.53 728.58C526.25 716.3 519.61 697.06 519.61 670.86V561.96H535.71V670.86C535.71 685.42 538.03 697.24 542.67 706.34C547.31 715.44 553.95 722.08 562.59 726.26C571.23 730.45 581.56 732.54 593.57 732.54C605.58 732.54 615.9 730.45 624.55 726.26C633.19 722.08 639.83 715.44 644.47 706.34C649.11 697.24 651.43 685.42 651.43 670.86V561.96H667.53V670.86C667.53 697.06 660.88 716.3 647.61 728.58C634.32 740.86 616.31 747 593.57 747Z' fill='black'/%3E%3Cpath d='M764.14 744.27V576.42H704.91V561.95H839.19V576.42H780.24V744.27H764.14Z' fill='black'/%3E%3Cpath d='M936.64 744.27V672.49L862.13 561.95H880.96L944.55 658.02L1008.14 561.95H1027.25L952.74 672.49V744.27H936.64Z' fill='black'/%3E%3Cpath d='M1129.32 744.27V561.95H1145.42V643.28H1261.14V561.95H1277.24V744.27H1261.14V657.75H1145.42V744.27H1129.32Z' fill='black'/%3E%3Cpath d='M1399.79 747C1377.04 747 1359.03 740.86 1345.75 728.58C1332.47 716.3 1325.82 697.06 1325.82 670.86V561.96H1341.92V670.86C1341.92 685.42 1344.24 697.24 1348.88 706.34C1353.52 715.44 1360.16 722.08 1368.8 726.26C1377.44 730.45 1387.77 732.54 1399.78 732.54C1411.79 732.54 1422.11 730.45 1430.76 726.26C1439.4 722.08 1446.04 715.44 1450.68 706.34C1455.32 697.24 1457.64 685.42 1457.64 670.86V561.96H1473.74V670.86C1473.74 697.06 1467.1 716.3 1453.82 728.58C1440.55 740.86 1422.54 747 1399.79 747Z' fill='black'/%3E%3Cpath d='M1522.34 744.27V561.95H1603.13C1616.59 561.95 1627.97 563.45 1637.25 566.45C1646.53 569.45 1653.62 574.32 1658.54 581.05C1663.45 587.78 1665.91 596.88 1665.91 608.34C1665.91 620.72 1663.22 630.13 1657.86 636.59C1652.49 643.05 1644.62 647.64 1634.25 650.37C1646.62 652.92 1655.9 657.74 1662.09 664.84C1668.27 671.94 1671.37 682.03 1671.37 695.14C1671.37 713.15 1665.64 725.84 1654.18 733.21C1642.72 740.58 1625.7 744.26 1603.14 744.26H1522.34V744.27ZM1538.44 643.56H1600.12C1618.13 643.56 1630.82 641.15 1638.19 636.33C1645.56 631.51 1649.24 622.73 1649.24 609.99C1649.24 597.43 1645.56 588.66 1638.19 583.65C1630.82 578.65 1618.13 576.14 1600.12 576.14H1538.44V643.56ZM1538.44 730.08H1600.12C1613.58 730.08 1624.32 728.85 1632.33 726.4C1640.34 723.94 1646.07 720.03 1649.53 714.66C1652.98 709.3 1654.72 702.34 1654.72 693.78C1654.72 685.05 1652.99 678 1649.53 672.63C1646.07 667.27 1640.34 663.35 1632.33 660.89C1624.32 658.43 1613.59 657.21 1600.12 657.21H1538.44V730.08Z' fill='black'/%3E%3Cpath d='M1121.72 309.47C1121.72 351.27 1108.42 380.72 1081.84 397.82C1055.24 414.92 1015.76 423.47 963.43 423.47H775.97V270.61H813.33V390.52H956.44C987.68 390.52 1012.58 387.67 1031.18 381.97C1049.74 376.27 1063.04 367.19 1071.06 354.75C1079.08 342.29 1083.1 326.14 1083.1 306.3C1083.1 286.04 1079.08 269.67 1071.06 257.21C1063.04 244.77 1049.74 235.69 1031.18 229.99C1012.58 224.29 987.68 221.44 956.44 221.44H813.33L537.97 222.7V423.45H500.61V0.439941H537.97V189.15H813.33L956.44 189.79C998.24 189.79 1027.69 184.2 1044.79 173C1061.89 161.82 1070.44 141.45 1070.44 111.89C1070.44 82.75 1061.89 62.4 1044.79 50.78C1027.69 39.18 998.24 33.3699 956.44 33.3699H813.33V138.05H775.97V0.439941H963.42C994.64 0.439941 1021.04 3.92995 1042.55 10.89C1064.09 17.85 1080.55 29.16 1091.95 44.78C1103.35 60.4 1109.05 81.4999 1109.05 108.1C1109.05 136.82 1102.82 158.67 1090.36 173.65C1077.92 188.63 1059.65 199.3 1035.59 205.62C1064.29 211.54 1085.83 222.72 1100.19 239.18C1114.54 255.65 1121.72 279.07 1121.72 309.47Z' fill='black'/%3E%3C/svg%3E%0A") !important;
  background-size: contain;
  width: 180px;
}

.login label {
  text-transform: uppercase;
}

.wp-core-ui .button-primary {
  background-color: black;
  color: white;
  border-color: black;
  border-radius: 0;
  text-transform: uppercase;
}
.wp-core-ui .button-primary:hover {
  background-color: black;
  border-color: black;
  color: white;
  opacity: 0.8;
}

input[type='text'],
input[type='password'],
input[type='checkbox'] {
  border-radius: 0;
}
input[type='text']:focus,
input[type='password']:focus,
input[type='checkbox']:focus {
  border-color: black;
  box-shadow: black;
}

input[type='checkbox']:checked::before {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M14.83 4.89l1.34.94-5.81 8.38H9.02L5.78 9.67l1.34-1.25 2.57 2.4z' fill='%23000000'/%3E%3C/svg%3E");
  background-size: contain;
}
