/* === FRONTEND === */
.bh-ping-pong {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  box-sizing: border-box;
}

.bh-ping-pong.bh-ping-pong-left {
  flex-direction: row-reverse;
}

.bh-ping-pong > .wp-block-beautyhub-pingpong-image,
.bh-ping-pong > .wp-block-beautyhub-pingpong-content {
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

.editor-styles-wrapper .bh-ping-pong .wp-block,
.editor-styles-wrapper .bh-ping-pong .wp-block-paragraph,
.editor-styles-wrapper .bh-ping-pong .wp-block-heading,
.editor-styles-wrapper .bh-ping-pong .wp-block-button,
.editor-styles-wrapper .bh-ping-pong .wp-block-group,
.editor-styles-wrapper .bh-ping-pong .wp-block {
  margin-top: 0.05rem !important;
  margin-bottom: 0.05rem !important;
  padding: 0 !important;
}

.bh-ping-pong .bh-content-block,
.bh-ping-pong .bh-image-block {
  flex: 1 1 auto;
  width: 100%;
  min-height: 100%;
}

/* === EDITOR === */
.editor-styles-wrapper .bh-ping-pong,
.editor-styles-wrapper .bh-ping-pong .block-editor-inner-blocks,
.editor-styles-wrapper .bh-ping-pong .block-editor-block-list__layout {
  display: flex !important;
  flex-direction: row !important;
  align-items: stretch !important;
  gap: 20px !important;
  width: 100% !important;
  min-width: 0 !important;
  box-sizing: border-box;
}

.editor-styles-wrapper
  .bh-ping-pong
  .block-editor-block-list__layout
  > .block-editor-block-list__block:has(.bh-image-block) {
  flex: 0 0 50% !important;
  max-width: 50% !important;
  min-width: 0 !important;
  display: flex !important;
  flex-direction: column !important;
}

/* Reverse order when imageLeft */
.editor-styles-wrapper
  .bh-ping-pong.bh-ping-pong-left
  .block-editor-inner-blocks,
.editor-styles-wrapper
  .bh-ping-pong.bh-ping-pong-left
  .block-editor-block-list__layout {
  flex-direction: row-reverse !important;
}

/* Fill inner blocks height */
.editor-styles-wrapper .bh-ping-pong .bh-content-block,
.editor-styles-wrapper .bh-ping-pong .bh-image-block {
  flex: 1 1 auto !important;
  width: 100% !important;
  height: 100% !important;
}

.bh-pingpong-block-bg-color-primary {
  background-color: var(--primary);
}

.bh-pingpong-block-bg-color-secondary {
  background-color: var(--secondary);
}

.bh-pingpong-block-bg-color-background {
  background-color: var(--background);
}

.bh-pingpong-block-bg-color-white {
  background-color: var(--white);
}

.bh-pingpong-block-bg-color-black {
  background-color: var(--black);
}

.bh-ping-pong-content-block-wrapper {
  padding-top: 10rem;
  padding-bottom: 10rem;
  width: 100%;
}

.editor-styles-wrapper
  .bh-ping-pong
  .bh-ping-pong-content-block-wrapper
  .block-editor-inner-blocks
  .block-editor-block-list__layout {
  flex-direction: column !important;
}

.editor-styles-wrapper
  .bh-ping-pong
  .bh-ping-pong-content-block-wrapper
  .block-editor-block-list__layout
  > .block-editor-block-list__block {
  max-width: 100% !important;
}

.my-3 {
  margin: 3rem 0;
}
